/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

header a.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

header a.logo i {
    margin-right: 10px;
}

#menu-bar {
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

header nav a:hover {
    background-color: #1a252f;
    border-radius: 5px;
}



/* Main Content */
main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #333;
    color: white;
    text-transform: uppercase;
}

table td {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

button {
    background-color: #292921;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #971515;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    header nav {
        display: none;
        flex-direction: column;
    }

    #menu-bar {
        display: block;
    }

    #menu-bar.active + nav {
        display: flex;
    }

    table th, table td {
        padding: 10px;
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
    }
}
